{% extends 'base.html.twig' %}

{% block title %}
    Welcome on this page, {{ name }}
{% endblock %}

{% block body %}
    <div>
        Hello, {{ name }}
    </div>
    <div>
        Наше число: {{ number }} является
    </div>
    <div>
        {% if number % 2 == 0 %}
            четным числом
        {% else %}
            нечетным числом
        {% endif %}
    </div>
    <div>
        <ul>
            {% for i in number_list %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
